@media all and (max-width: 600px) {
    /*HEADER*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .profil {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    hgroup {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: center;
    }
    header h1{
        line-height:40px;
    }
    /*POSITION MAIN ASIDE*/
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    /*MAIN*/
    main {
        width: 100%;
        padding-bottom: 20px;
    }
        main h3 {
            font-size: 1.5em;
        }
    .contenucol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        .contenucol i {
            padding-left: 0px;
        }

    .datelieu {
        text-align:center;
        width:100%;
        margin-left:0px;
    }

    .icotitre {
        margin-left: 0px;
    }

    .contenucol {
        padding-bottom: 20px;
    }
    /*ASIDE*/
    aside {
        width: 100%;
    }

    .contact {
        text-align: center;
    }

        .contact h3 {
            margin-top: 0px;
        }

    .icone {
        padding-bottom: 15px;
    }
    .moi p{
        text-align:center;
    }

    /*FOOTER*/
    footer .liseret {
        display: none;
    }

    footer {
        background-color: #ef9a9a;
    }

        footer p {
            text-align: left;
        }
}
