@media all and (max-width: 600px) {

    /*HEADER*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header_photo {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    hgroup {
        padding-top:0px;
        padding-bottom:0px;
        margin-left: 0px;
        text-align: center;
    }

    header h1 {
        font-size:2.5em;
        line-height: 40px;
        margin-bottom:0px;
    }
    /*POSITION MAIN ASIDE*/
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    /*MAIN*/
    main {
        width: 100%;
        padding-bottom: 20px;
    }
        main h3 {
            font-size: 1.1em;
        }
        .main_formation_icotitre i{
            font-size:1.5em;
        }
main h4{
    font-size:1em;
}

    .main_formation_contenucol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main_formation_contenucol i {
        padding-left: 0px;
    }
    .main_formation_contenucol_datelieu {
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .main_formation_icotitre {
        margin-left: 20px;
        margin-right:20px;
    }
        .main_formation_contenucol article {
            margin-right: 20px;
            margin-left: 20px;
        }
.main_formation_reco {
    flex-direction:column;
    text-align:center;
}
.main_formation_reco h5{
    font-size:1em;
}
.main_formation_reco p{
    margin-bottom:0px;
}

    /*ASIDE*/
    aside {
        width: 100%;
    }

    .aside_contact {
        text-align: center;
    }

        .aside_contact h3 {
            margin-top: 0px;
        }

    .aside_loisir_icone {
        padding-bottom: 15px;
    }

    .aside_moi p {
        text-align: center;
        text-indent: 0px;
    }

    /*FOOTER*/
     .footer_liseret {
        display: none;
    }

    footer {
        background-color: #ef9a9a;
    }

        footer p {
            width: 100%;
            text-align: center;
            color: #006064;
        }
}
