@media all and (max-width: 780px) {
    /*HEADER*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header_photo {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    hgroup {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: center;
    }
    /*POSITION MAIN ASIDE*/
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    /*MAIN*/
    main {
        width: 100%;
        padding-bottom: 10px;
    }

    .icotitre {
        margin: 0px;
    }
    /*ASIDE*/
    aside {
        width: 100%;
    }

    .aside_contact {
        text-align: center;
    }

        .aside_contact h3 {
            margin-top: 0px;
        }

    .aside_loisir_icone {
        padding-bottom: 15px;
    }


    /*FOOTER*/
    .footer_liseret {
        display: none;
    }

    footer {
        background-color: #ef9a9a;
    }

        footer p {
            text-align: left;
        }
}
