@media all and (max-width: 780px) {
    
    /*HEADER*/

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header_picture {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    hgroup {
        margin-left: 0px;
        padding-top: 0px;
        text-align: center;
    }

    /*POSITION MAIN ASIDE*/

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    /*MAIN*/

    main {
        width: 100%;
        padding-bottom: 10px;
    }

    .main_title {
        margin-right: 30px;
    }

    .main_content article{
        margin-right: 30px;
    }

    /*ASIDE*/

    aside {
        width: 100%;
    }

    .aside_contact {
        text-align: center;
    }

    .aside_contact h3 {
        margin-top: 0px;
    }

    .aside_aboutme p{
        text-align: center;
    }

    .aside_hobbies_icone {
        padding-bottom: 15px;
    }

    /*FOOTER*/

    footer {
        background-color: #ef9a9a;
    }

    .footer_edging {
        display: none;
    }

    footer p {
        width: 100%;
        text-align: center;
        color: #006064;
        padding: 0px;
    }
}
